@model bazar_prg.Models.Productos

@{
    ViewData["Title"] = "Detalles del Producto";
}

     <link rel="stylesheet" href="/css/detalleprod.css" asp-append-version="true" />
     


<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <center>
  <div class="wrapper">
    <div class="product-img">
      
      <img class="img-responsive" height="420" width="327"
                       src="/images/@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)"  />

    </div>
    <div class="product-info">
      <div class="product-text">
        <br>
        
        <h1>@Html.DisplayFor(model => model.Name)</h1>

         <h2>@Html.DisplayFor(model => model.Marca)</h2>
        
        <h2>@Html.DisplayFor(model => model.Descripcion)</h2>
        
         <p><span>S/. <span>@Html.DisplayFor(model => model.Precio)</span></p>
        <br>
         
      </div>
      <br>
      <div class="product-price-btn">
                
        <br>
    <center>  <a class="" style="color:rgb(0,0,0);" asp-action="Add" asp-route-id="@Model.Id">    Agregar al carrito</a>

      </div>
    </div>
  </div>

</body>

</html>