@model IEnumerable<bazar_prg.Models.Pedido>

@{
    ViewData["Title"] = "Index";
    var count = 1;
}

<table class="table table-hover"  id="table_id">
    <a class="btn btn-primary" style="background-color: #3b5998;"asp-action="ExportarExcel" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/2921/2921797.png" width="25px" heigh="25px"></i> GENERAR REPORTE EXCEL</a>
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                        №
             </th>
             <th scope="col">
              CORREO DE CLIENTE
             </th>
             <th scope="col">
TOTAL
             </th>

              <th scope="col">
ESTADO DE PEDIDO
              </th>
              
              <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <th scope="row">
                    @count
            </th>
            <td>
                 @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Total)
            </td>                
            <td>
                  @Html.DisplayFor(modelItem => item.Status)
                </td>
            <td>   

        <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.ID"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828742.png" width="15px" heigh="20px"> Editar</a> 

        <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Details" asp-route-id="@item.ID"><width="15px" heigh="20px"> Detalle</a> 

            </td>
        </tr>
        count++;
}
    </tbody>
</table>

<br>
<br>