@model bazar_prg.Models.Productos
 <link rel="stylesheet" href="/css/detalleprod.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Producto</h1>
<center>
<h3>¿Estas seguro de eliminar el producto?</h3></center>
<body>
  <center>
  <div class="wrapper">
    <div class="product-img">
      
      <img class="img-responsive" height="420" width="327"
                       src="/images/@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)"  />

    </div>
    <div class="product-info">
      <div class="product-text">
        <br>
        
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <h2>@Html.DisplayFor(model => model.Status)</h2>
         <h2>@Html.DisplayFor(model => model.Marca)</h2>
        
        <h2>@Html.DisplayFor(model => model.Descripcion)</h2>
        
         <p><span>S/. <span>@Html.DisplayFor(model => model.Precio)</span></p>
      </div>
      </div>
      
    </div>
        <div>
        
             <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
         <a class="btn btn-primary" style="background-color: #3b5998;" asp-action="Index" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/570/570220.png" width="15px" heigh="20px"></i> Regresar</a>
    </form>
        </div>

  </div>
<br>
</body>
