
@model IEnumerable<bazar_prg.Models.Productos>
<link rel="stylesheet" href="~/css/proforma.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/burbuja.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Panel Productos";
}

<h1>Registro de Inventario</h1>

<p>
    <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Create">Crear Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
