
@model IEnumerable<bazar_prg.Models.Productos>

@{
    ViewData["Title"] = "Panel Productos";
}

<h1>Registro de Inventario</h1>

<p>
     <a class="btn btn-primary" style="background-color: #3b5998;" asp-action="Create" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828753.png" width="25px" heigh="25px"></i> Crear Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Producto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                Descripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Imagen 
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.Id">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828742.png" width="15px" heigh="20px"> Editar</a> 
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Details" asp-route-id="@item.Id">
                    <img src="https://cdn-icons-png.flaticon.com/512/3388/3388904.png" width="15px" heigh="20px"> Detalle</a> 
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Delete" asp-route-id="@item.Id">
                    <img src="https://cdn-icons-png.flaticon.com/512/2891/2891824.png" width="15px" heigh="20px"> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br>
<br>
