@model dynamic;
@using System.Collections.Generic;
<link rel="stylesheet" href="~/css/proforma.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/burbuja.css" asp-append-version="true" />

<div style="text-align:center;">
@{
    ViewData["Title"] = "CARRITO";
    IEnumerable<bazar_prg.Models.Proforma> listItemsCarrito = new List<Proforma>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}

<h1>@ViewData["Title"]</h1>
<br>
<a class="btn btn-info" asp-controller="Pago" 
        asp-action="Create" asp-route-monto="@montoTotal">PAGAR</a>

</div>
        
<div style="text-align:center;">
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Producto.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Proforma item in Model.elementosCarrito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.Id">EDITAR</a> |
                <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-action="Delete" asp-route-id="@item.Id">ELIMINAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div style="text-align:center;">
    <p><h1>Total S/.@montoTotal</h1></p></div>

     <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>